* {
    box-sizing: border-box;
}
.lucozade-red{
    color: #fff;
    background-color: #E5003B;
    border-color: #E5003B;
}
@font-face {
    font-family: AvenyT-Black;
    src: url("../fonts/Aveny-T_Black.otf") format("opentype");
}

@font-face {
    font-family: Aveny T;
    src: url("../fonts/Aveny-T_Regular.otf") format("opentype");
}

body, button {
    font-family: AvenyT-Black, Aveny T, sans-serif;
}

.header {
    width: 100%;
    height: 100vh;
    background: radial-gradient(circle at 50% 300%, #f8d60c 80%, transparent 100%), url("../img/water-drops.jpg");
    background-size: auto, cover;
    background-position: top;
    position: relative;
}

#studio {
    position: absolute;
    width: 100%;
    z-index: 10;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
}

#canvas-outer {
    width: 433px;
    height: 433px;
    padding: 5px;
    margin: 0 auto;
}
#controls{
    text-align: center;
    margin: 20px auto 0;
    padding: 0 10px;
    -webkit-transition: .5s;
    transition: .5s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

#addPhotoOnly button{
    width: 433px;
}

#moreOptions button{
    width: calc(433px / 3);
}
#canvas-outer .canvas-container {
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    -webkit-transform: scale(.5,.5);
    -ms-transform: scale(.5,.5);
    transform: scale(.5,.5);
}

#down-dir i, #logo{
    position: absolute;
    right: 1rem;
    z-index: 999;
}
#down-dir i{
    color: #E5003B;
    bottom: 1rem;
    font-size: 2rem;
}
#logo{
    top: 1rem;
}
#logo svg{
    width:200px;
}

body > textarea{
    left: 0!important;
    top:65%!important;
}

@media (max-width: 500px) and (min-width: 341px) {
    #canvas-outer {
        width: 306.09999999999997px;
        height: 306.09999999999997px;
    }

    .btn{
        font-size: 0.7rem;
    }
    #logo svg{
        width: 120px
    }
    #addPhotoOnly button{
        width: 306.09999999999997px;
    }
    #moreOptions button{
        width: calc(306.09999999999997px / 3);
    }
    #canvas-outer .canvas-container {
        -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
        transform-origin: top left;
        -webkit-transform: scale(.35,.35);
        -ms-transform: scale(.35,.35);
        transform: scale(.35,.35);
    }
}

@media (max-width: 340px) {
    #canvas-outer {
        width: 263.79999999999995px;
        height: 263.79999999999995px;
    }

    .btn{
        font-size: 0.6rem;
    }
    #logo svg{
        width: 100px
    }

    #addPhotoOnly button{
        width: 263.79999999999995px;
    }
    #moreOptions button{
        width: calc(263.79999999999995px / 3);
    }
    #canvas-outer .canvas-container {
        -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
        transform-origin: top left;
        -webkit-transform: scale(.3,.3);
        -ms-transform: scale(.3,.3);
        transform: scale(.3,.3);
    }
}

.modal-inner {
    display: flex;
    justify-content: center;
}
.modal-inner a{
    margin: 20px;
}
.modal-inner .fa{
    font-size: 5rem;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
}
.modal-inner .fa:hover{
    transform: scale(1.1,1.1);
}
.fa-facebook-square{
    color: #3b5998;
}
.fa-twitter-square{
    color: #4099FF;
}
.fa-instagram{
    color: #c13584;
}

.gallery {
    width: 100%;
}

.gallery ul {
    padding: 0;
    margin: 0;
}

.gallery li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.gallery img {
    width: 100%;
    overflow: hidden;
}